/* fonts

font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;

*/

/* setting default styles */

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0px 10% 0px 10%;
  font-family: "Source Serif Pro", serif;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #333333;
}

/* Boxes */

.superbox {
  background: orange;
  height: 50vh;
  display: flex;
  margin-top: 100px;
  position: relative;
}

.parent {
  width: 80%;
  height: 40vh;
  background-color: lightblue;
  margin: auto;

  font-size: 30px;
  text-align: center;

  /* position property on parent */
}

/* child boxes */
.child {
  width: 80%;
  height: 5vh;
  margin: auto;
}

.child-one {
  background-color: lightgoldenrodyellow;
  position: absolute;
  left: 0;
  bottom: 0;
}

.child-two {
  background-color: lightcoral;
}

.child-three {
  background-color: lightgreen;
}
